@model UtenteDetailViewModel
<section class="utente-info">
    <div class="row">
        <div class="col-md">
            <h1>Dettaglio utente <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-pencil-alt"></i> Modifica</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">Cognome:</div>
        <div class="col-md-4">@Model.Cognome</div>
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">Nome:</div>
        <div class="col-md-4">@Model.Nome</div>
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">Email:</div>
        <div class="col-md-4">@Model.Email</div>
        <div class="col-md-4">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-4">Telefono:</div>
        <div class="col-md-4">@Model.Telefono</div>
        <div class="col-md-4">&nbsp;</div>
    </div>
</section>

<section class="utente-profilo">
	<h4>Profili (@Model.Profili.Count) 
    @if (@Model.Profili.Count == 0)
    {
        <a class="btn btn-outline-primary btn-sm" asp-controller="Profili" asp-action="Create" asp-route-id="@Model.Id"><i class="fas fa-plus"></i> Crea nuovo</a>
    }     
    else
    {
        //Se esiste già impedisco la creazione di nuovo profilo, nascondendo il relativo pulsante
    }</h4>
   
    @foreach (var profilo in Model.Profili)
	{
	<hr>
	<div class="row">
		<div class="col-md-4 d-flex align-items-center">Profilo corrente</div>
        <div class="col-md-4 d-flex align-items-center">Username: @profilo.Username</div>
        <div class="col-md-2 d-flex align-items-center profilo-edit">
            <a class="btn btn-outline-primary btn-sm spacing" asp-controller="Profili" asp-action="Detail" asp-route-id="@profilo.Id"><i class="fas fa-file"></i> Dettaglio</a>
		</div>
        <div class="col-md-2 d-flex align-items-center profilo-edit">
            <a class="btn btn-outline-primary btn-sm spacing" asp-controller="Profili" asp-action="Edit" asp-route-id="@profilo.Id"><i class="fa fa-pencil-alt"></i> Modifica</a>
		</div>
	</div>
	}
</section>